<nav class="navbar fixed-top navbar-expand-sm navbar-light" style="background-color: #e3f2fd;" role="navigation">
	<div class="container">
		<a class="navbar-brand" href="{{ path('homepage') }}">
			<img src="{{ asset('img/Logo_OpenClassrooms.png') }}" alt="OpenClassrooms"/>
			To Do List app
		</a>
		{% if app.user %}
			<div class="dropdown">
				<a class="dropdown-toggle d-sm-block nav-item btn btn-outline-primary" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<i class="bi bi-people-fill"></i> {{app.user.username}}
					-
					{% if is_granted("ROLE_ADMIN") %}
						Admin
					{% elseif is_granted("ROLE_USER") %}
						User
					{% endif %}

				</a>
				<div class="dropdown-menu mt-2" aria-labelledby="navbarDropdownMenuLink">
					{% if is_granted("ROLE_ADMIN") %}
						<a class="dropdown-item" href="{{ path('user_create') }}">Créer un utilisateur</a>
						<a class="dropdown-item" href="{{ path('user_list') }}">Liste des utilisateurs</a>
						<div class="dropdown-divider"></div>
					{% endif %}
					<a class="dropdown-item" href="{{ path('task_create') }}">Créer une tâche</a>
					<a class="dropdown-item" href="{{ path('task_list') }}">Liste des tâches à faire</a>
					<a class="dropdown-item" href="{{ path('task_list') }}">Liste des tâches terminées</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="{{ path('logout') }}">Se déconnecter</a>
				</div>
			</div>
		{% else %}
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
				<div class="navbar-nav">
					<a class="nav-item btn btn-outline-primary" href="{{ path('login') }}">Connexion</a>
					{# <a class="nav-item btn btn-outline-primary" href="{{ path('user_create') }}">S'inscrire</a> #}
				</div>
			</div>
		{% endif %}
	</div>
</nav>
